* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.perfil-container {
  
  margin-left: 50px;
}
.perfil-container h1 {
  color: #222;
  margin-bottom: 20px;
}

.perfil-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  
}

.avatar {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.info-section h2 {
  margin-top: 10px;
  color: #333;
}

.info-section p {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
}

.edit-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  filter: invert(40%) sepia(20%) saturate(300%) hue-rotate(120deg);
  transition: transform 0.2s ease;
}

.edit-icon:hover {
  transform: scale(1.2);
}

/* Linha divisória */
.divider {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-color: #ccc;
}

/* Meus pedidos */
.pedidos h2 {
  margin-bottom: 15px;
  color: #222;
}

.tabela-pedidos {
  width: 100%;
  border-collapse: collapse;
}

.tabela-pedidos th {
  text-align: left;
  font-weight: 600;
  padding-bottom: 10px;
  color: #333;
}

.tabela-pedidos td {
  padding: 12px 0;
  border-top: 1px solid #eee;
  vertical-align: top;
}

.pedido-info {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.foto-produto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 6px;
  background-color: #f9f9f9;
  padding: 6px;
  border-radius: 8px;
  width: 120px;
}

.foto-produto img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.detalhes-pedido {
  font-size: 14px;
}

.status {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
}

.status.entregue {
  background-color: #d5f3d7;
  color: #1b7a29;
}

.status.processando {
  background-color: #ffe8c2;
  color: #b17200;
}

/* Botões */
.buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  justify-content: center;
}

.btn-save {
  background-color: #a0d5c1;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.btn-save:hover {
  background-color: #7fc0a7;
}

.btn-back {
  background-color: white;
  border: 2px solid #a0d5c1;
  color: #3ba58c;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.btn-back:hover {
  background-color: #eaf6f1;
}

/* Rodapé */
.footer {
  background-color: #b2e2d7;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #004d40;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsividade */
@media (max-width: 600px) {
  .perfil-container {
    padding: 20px;
  }

  .buttons {
    flex-direction: column;
  }

  .search-bar input {
    width: 150px;
  }
}

.perfil-container {
  margin-top: calc(var(--nav-h) + 20px);
  padding-top: 20px;
}